[submodule "foundry-f23/simple-storage/lib/forge-std"]
	path = foundry-f23/simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/fund-me/lib/forge-std"]
	path = foundry-f23/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-f23/fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "ethernaut/fallback/lib/forge-std"]
	path = ethernaut/fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/fal1out/lib/forge-std"]
	path = ethernaut/fal1out/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/coin-flip/lib/forge-std"]
	path = ethernaut/coin-flip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/telephone/lib/forge-std"]
	path = ethernaut/telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/token/lib/forge-std"]
	path = ethernaut/token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/delegation/lib/forge-std"]
	path = ethernaut/delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/force/lib/forge-std"]
	path = ethernaut/force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut-ctf/lib/forge-std"]
	path = ethernaut-ctf/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
